<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta content="description" name="description" />
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}" />
  <link href="{{ url_for('static', filename='assets/favicon.ico') }}" rel="icon" />
  <title>Capstone Project Works - Kimani Hezekiah Nyutu</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <!-- Add your content of header -->
  <header>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="{{ '/index.html' }}" title="">01 : Home</a></li>
            <li><a href="{{ '/works.html' }}" title="">02 : Works</a></li>
            <li><a href="{{ '/about.html' }}" title="">03 : About me</a></li>
            <li><a href="{{ '/contact.html' }}" title="">04 : Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : Capstone Project Works</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <!-- Resume Section -->
                <div class="col-xs-12 col-md-6">
                  <h3>Resume</h3>
                  <p>An up-to-date resume in Kiswahili, English, and one indigenous African language.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Resume.pdf') }}" class="btn btn-primary" target="_blank">View Resume</a>
                </div>

                <!-- Autobiographical Essay Section -->
                <div class="col-xs-12 col-md-6">
                  <h3>Autobiographical Essay</h3>
                  <p>A 20-30 page autobiographical essay.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Autobiographical_Essay.docx') }}" class="btn btn-primary" target="_blank">Read Essay</a>
                </div>

                <!-- Autobiographical Presentation -->
                <div class="col-xs-12 col-md-6">
                  <h3>Autobiographical Presentation</h3>
                  <p>PowerPoint/Prezi/Keystone presentation on the autobiographical essay.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Autobiographical_Presentation.pptx') }}" class="btn btn-primary" target="_blank">View Presentation</a>
                </div>

                <!-- Invention/Innovation Video Section -->
                <div class="col-xs-12 col-md-6">
                  <h3>Invention/Innovation Video</h3>
                  <p>A 20-minute video on an invention or innovation in the field of study.</p>
                  <a href="https://drive.google.com/file/d/1LkVWCuKQWQ7va0ly6QBsbuwUYPkerZ_H/view?usp=sharing" class="btn btn-primary" target="_blank">Watch Video</a>
                </div>

                <!-- Invention/Innovation Presentation -->
                <div class="col-xs-12 col-md-6">
                  <h3>Invention/Innovation Presentation</h3>
                  <p>PowerPoint/Prezi/Keystone presentation on the invention or innovation.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Innovation_Presentation.pptx') }}" class="btn btn-primary" target="_blank">View Presentation</a>
                </div>

                <!-- Cultural Video Section -->
                <div class="col-xs-12 col-md-6">
                  <h3>African Culture Video</h3>
                  <p>A 20-minute video on African culture, including gender awareness discussion.</p>
                  <a href="https://drive.google.com/file/d/1PuwvgX_wlzeHyJRLThBCBwY7mLdjUuMv/view?usp=drive_link" class="btn btn-primary" target="_blank">Watch Video</a>
                </div>

                <!-- Cultural Presentation -->
                <div class="col-xs-12 col-md-6">
                  <h3>Cultural Presentation</h3>
                  <p>PowerPoint/Prezi/Keystone presentation on the cultural aspect.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Culture_Presentation.docx') }}" class="btn btn-primary" target="_blank">View Presentation</a>
                </div>

                <!-- Societal Challenges Video -->
                <div class="col-xs-12 col-md-6">
                  <h3>Societal Challenges Video</h3>
                  <p>A 20-minute video on modern societal challenges and suggested solutions.</p>
                  <a href="https://drive.google.com/file/d/1fwAblVIevwUFJhhQ6Qd8Si-0v1baoruj/view?usp=drive_link" class="btn btn-primary" target="_blank">Watch Video</a>
                </div>

                <!-- Photographic Essay -->
                <div class="col-xs-12 col-md-6">
                  <h3>Photographic Essay</h3>
                  <p>A photographic essay on an important issue in the African community.</p>
                  <a href="{{ url_for('static', filename='Kimani_Nyutu_Culture_Presentation.docx') }}" class="btn btn-primary" target="_blank">View Essay</a>
                </div>

                <!-- Online Presence -->
                <div class="col-xs-12 col-md-6">
                  <h3>Online Presence</h3>
                  <p>Evidence of professionally relevant online presence.</p>
                  <ul>
                    <li><a href="https://www.techinsightsblog.com/" target="_blank">Blog</a></li>
                    <li><a href="https://web.facebook.com/people/Kimani-Nyutu/pfbid035fGNMoYG4FB6cu6F1QX16UYxzL17Zj4MWwRFVGcsmcVnZvpPihaADoiSw4aS2Aj8l/" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/kimaninyutu" target="_blank">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/kimani-nyutu-06b408227?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/kimani.nyutu" target="_blank">Instagram</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            © 2024 Kimani Hezekiah Nyutu
            </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
